.o-${NAME}{
  margin-top: var(--size-spacing-section);
  margin-bottom: var(--size-spacing-section);
}

.c-${NAME}{
  width: var(--size-boxed-width);
  max-width: var(--size-max-boxed);
  margin: 0 auto;
}
.${NAME}__list {
  display: grid;
  gap: var(--size-spacing-atom);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 14rem), 1fr));
}