.o-${NAME}{
  margin-top: var(--size-margin-section);
  margin-bottom: var(--size-margin-section);
  color: blue;
  border: 1px dotted blue ;
}

.c-${NAME}{
  width: var(--size-boxed-width);
  max-width: var(--size-max-boxed);
  margin: 0 auto;
}